@font-face {
  font-family: 'VCR';
  src: url('vcr.ttf');
}

body {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

svg {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
}
