@font-face {
  font-family: 'VCR';
  src: url(../vcr.ttf);
}

body {
  background: black;
  margin: 0;
  padding: 0;
  font-family: 'VCR', monospace;
  font-size: 8vh;
}

div.testcard {
  background: url('bars.png');
  background-size: cover;
  
  /* Landscape. */
  width: 100vw;
  height: 56.24vw;
  
  /* Portrait. */
  max-width: 177.778vh;
  max-height: 100vh;
  
  /* Positioning. */
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

div.inner {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

p {
  background: black;
  color: white;
  padding: 2vh 4vh;
  display: inline-block;
  cursor: default;
}

#banner {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

#date {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

#time {
  position: absolute;
  bottom: 5%;
  right: 5%;
}